{erl_opts, [debug_info]}.
{deps, [
   {erlcloud, {git, "https://github.com/xmppjingle/erlcloud.git", {branch, "fix_imdsv2"}}},
   {fast_xml, "1.1.49"},
   {snappyer, "1.2.9"},
   {snatch,    {git, "https://github.com/bholten/snatch.git", {branch, "sqs-fixes"}}},
   {lhttpc, "1.6.2"}
  ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [snatch_app]}
]}.
