{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
   {fast_xml, "1.1.49"},
   {lager, "3.9.2"},
   {snappyer, "1.2.9"},
   {snatch, {git, "https://github.com/bholten/snatch.git", {branch, "aws-sqs-proc-name"}}},
   {lhttpc, "1.6.2"}
  ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [snatch_app]}
]}.
